* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
/* Start Task List */
.task-list {
  border-right: 2px solid;
}
/* Start Task */
.task {
  width: 90%;
}
.task .content {
  display: none;
}
.task .content:target {
  display: block;
}
#checkedOutput {
  height: auto;
  min-height: calc(1.5em + 0.75rem + 2px);
}

.form-check-input {
  margin-top: 0.4rem;
}
.text-secondary ul {
  font-size: 10px;
  list-style: none;
}

#show-result-div h3 {
  font-weight: normal;
}
